@import "tailwindcss";

/* Definição de tema (Tailwind v4) */
@theme {
  --color-primary-dark: #0a192f; /* azul petróleo escuro do hero */
  --color-primary-light: #f5f0e6; /* bege claro do menu mobile */
  --color-text-dark: #0a192f;
  --color-text-light: #f5f0e6;
  --color-divider: #BAB09A; /* linhas de divisão do layout */
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { text-underline-offset: 4px; }


